
*$py.class
build/
.cache
celerybeat-schedule
*,cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
htmlcov/
.hypothesis/
.installed.cfg
instance/
.ipynb_checkpoints
lib/
lib64/
local_settings.py
*.log
*.manifest
MANIFEST
*.mo
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
prof/
__pycache__/
*.py[cod]
.Python
.python-version
.ropeproject
.scrapy
sdist/
*.so
*.spec
.spyderproject
target/
.tox/
var/
venv/
.webassets-cache
